div.log-list>div {
    width: 100%;
    padding: 20px;
}

div.log-list * {
    margin: 0 auto;
}

ul.log-detail {
    margin: 10px auto;
}

ul.log-detail>li {
    padding: 10px 20px;
    width: 100%;
}

ul.log-detail>button.shrinker {
    margin-top: 10px;
    margin-bottom: -20px;
}