.App {
  text-align: center;
  width: 100%;
  max-width: 762px;
  margin: 0 auto;
}

.App * {
  margin: 10px auto;
}

button.mg-10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* 색상 변수 */
:root {
  --success-bg-color: #d1e7dd;
  --failure-bg-color: #f8d7da;
  --destroy-bg-color: #ced4da;
}

/* BreadCrumb 컴포넌트 */
ul.breadcrumb>li {
  cursor: pointer;
}

/* Setting 컴포넌트 */
div.explain {
  color: #888;
}

div.form-warn {
  color: red;
  font-weight: 500;
}

div.restore-cost-show {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

/* LeaderBoard 컴포넌트 */
div.result-board {
  font-size: 1.2rem;
}

div.upgrade-info {
  height: 140px;
  overflow-y: auto;
}

tr.success>td.success-count {
  background-color: var(--success-bg-color);
}

tr.failure>td.failure-count {
  background-color: var(--failure-bg-color);
}

tr.destroy>td.destroy-count {
  background-color: var(--destroy-bg-color);
}

/* StarDisplay 컴포넌트 */
div.star-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
  margin-bottom: 30px;
}

span.stars {
  text-align: center;
  width: 80px;
  height: 24px;
  margin: 0 5px;
}

img.star {
  width: 16px;
  height: 16px;
}

/* Simulator 컴포넌트 */
div.simulator {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

div.simulator>div>* {
  margin: 10px;
}

div.simul-options {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

div.simul-options .options-category {
  position: absolute;
  left: 0;
  top: -22px;
  background-color: white;
}

div.simulator div.discount-options div.discount-options-mvp {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

div.simulator div.discount-options table.option-table * {
  margin: 0;
}

div.simulator div.simul-ingame {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.simulator div.form-check {
  display: flex;
  align-items: center;
}

div.simulator div.form-check>* {
  padding: 0 5px;
}