.App {
  text-align: center;
  width: 100%;
  max-width: 762px;
  margin: 0 auto;
}

.App * {
  margin: 10px auto;
}

div.star-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
}

span.star {
  text-align: center;
  width: 80px;
  margin: 0 5px;
}