.App {
  text-align: center;
  width: 100%;
  max-width: 762px;
  margin: 0 auto;
}

.App * {
  margin: 10px auto;
}

/* LeaderBoard 컴포넌트 */
div.upgrade-info {
  height: 140px;
  overflow-y: auto;
}

/* StarDisplay 컴포넌트 */
div.star-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
}

span.star {
  text-align: center;
  width: 80px;
  margin: 0 5px;
}

/* Simulator 컴포넌트 */
div.simulator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.simulator>* {
  margin: 10px;
}

div.simulator>div.form-check {
  display: flex;
  align-items: center;
}

div.simulator>div.form-check>* {
  padding: 0 5px;
}